.login {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  .form-container {
    max-width: 600px;
    .head {
      padding: 0.5rem;
      .icon {
        display: flex;
        .dot {
          line-height: 3.2rem;
          font-size: .5rem;
          text-indent: 0.3rem;
        }
      }
      .link {
        font-weight: bold;
        cursor: pointer;
        margin-left: .5rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .form-login {
    display: flex;
    margin-top: 2rem;
    .input-content {
      background-color: var(--container-color);
      border-radius: 0.5rem;
      padding: 0.75rem 1rem 0.25rem;
      .input-label {
        font-size: var(--smaller-font-size);
        color: var(--text-color);
      }
      .input {
        width: 100%;
        background-color: var(--container-color);
        color: var(--text-color);
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        border: none;
        outline: none;
        padding: 0.25rem 0.5rem 0.5rem 0;
      }
    }
  }
}

::ng-deep .login {
  p-button  {
    width: 50%;
    .p-button {
      width: 100%;
      background: var(--prim-color);
      border: 1px solid var(--prim-color);
      &:focus {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--prim-color), 0 1px 2px 0 black;
      }
      &:enabled {
        &:active {
          background: var(--primDark-color);
          border: 1px solid var(--primDark-color);
        }
        &:hover {
          background: var(--primDark-color);
          border-color: var(--primDark-color);
        }
      }
    }
  }
}
