@import url('./assets/scss/variables.scss');
@import url('./assets/scss/hover-effects.scss');

body {
  background-color: #161616;
  font-size: 14px;
  color: #FFF;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  transition: .3s;
  color: var(--text-color);
}

h1, h2, h3, h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.align-center {
  text-align: center;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CONTAINERs ==========*/

.container {
  background-color: var(--container-color);
  border: 1px solid var(--container-border-color);
  border-radius: var(--container-border-radius);
}

/*========== ICON ==========*/
.icon-rounded {
  padding: 1.05rem;
  border-radius: 50%;
  background-color: var(--container-color);
  border: 1px solid var(--container-border-color);
  color: var(--icon-color);
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
  width: .60rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* ICON BUTTON */
.icon-button {
  transition: .3s all;
  &:hover {
    border-color: var(--prim-color) !important;
    cursor: pointer;
  }
}
/*========== INPUT DEFAULT ==========*/
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  // box-shadow: 0 0 0 0.2rem var(--box-shadow) !important;
  box-shadow: none !important;
  border-color: var(--prim-color) !important;
}
.p-inputtext:enabled:hover  {
  border-color: var(--prim-color) !important;
}
.p-inputtext {
  width: 100%;
  background-color: var(--container-color) !important;
  border-color: var(--container-border-color) !important;
  color: var(--text-color-light) !important;
  font-family: var(--body-font) !important;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--separator-color);
}

ul {
  list-style: none;
}

.primary-color {
  color: var(--prim-color);
}

// Overlap frameworks styles
.grid {
  margin: 0 !important;
  padding: 0 !important;
}

// PrimeNG tables color
.p-datatable {
  font-size: .8rem !important;
  .p-datatable-thead > tr > th {
    text-align: center !important;
    border: 1px solid var(--container-border-color) !important;
    color: var(--title-color) !important;
    background: var(--container-color) !important;
    padding: 0.75rem 1rem !important;
  }
  .p-datatable-tbody > tr {
    background: var(--table-stripped) !important;
    &:nth-of-type(2n) {
      background: var(--container-color) !important;
    }
    & > td {
      color: var(--text-color-table);
      border: 1px solid var(--container-border-color) !important;
    }
  }

  .p-datatable-footer {
    background: var(--container-color) !important;
    color: var(--title-color) !important;
    padding: 0 !important;
    width: 100%;
    font-weight: 300 !important;
    border: 1px solid var(--container-border-color) !important;
    border-top: none !important;
    .summary-container {
      padding: 0 .5rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .input-pagesize {
        margin: 0.2rem;
        text-align: center;
        .p-inputtext {
          width: 80px !important;
          padding: .5rem !important;
        }
      }
    }
  }

  .p-paginator {
    border: 1px solid var(--container-border-color) !important;
    border-width: 0 1px 0px 1px !important;
    color: var(--title-color) !important;
    background: var(--container-color) !important;
  }
  .p-paginator-pages .p-paginator-page {
    border-radius: 6px !important;
    &.p-highlight {
      background-color: var(--table-stripped) !important;
      color: var(--prim-color) !important;
    }
  }
}
.p-link:focus {
  box-shadow: 0 0 0.2rem var(--prim-color) !important;
}

.p-fieldset {
  margin-top: -1rem;
  border: 1px solid var(--container-border-color) !important;
  background: var(--container-color) !important;
    .p-fieldset-legend {
      margin-left: 1rem !important;
      padding: .8rem !important;
      border: none !important;
      background-color: transparent !important;
      & > a, & > span {
        color: var(--text-color-table);
      }
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  label {
    font-weight: 600;
    font-size: .8rem;
  }
  input {
    margin-top: .5rem;
    width: 100%;
  }
  .p-inputnumber {
    width: 100%;
  }
}
