::ng-deep .order-component {
  .th-index {
    width: 80px;
  }
  .th-cnpj {
    width: 20%;
  }
  .th-action {
    width: 120px;
  }
  .td-action {
    button {
      width: 2rem !important;
    }
  }
}
